fieldset {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 5px 0 15px;
  margin: 0 0 10px;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: space-around;
}

legend {
  padding: 0 10px;
  font-weight: bold;
}

button {
  width: 100%;
}

[delay-label] {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

[delay-input] {
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

[delay-label] {
  font-size: 14px;
  color: #333;
}
